@import 'variables';


main {
    padding: 70px 10px 10px 10px;
}

// Mixin per le card
@mixin card-style($bg-color, $border-color) {
    text-align: center;
    background-color: $bg-color;
    width: 100%;
    margin: 2px 6px 4px;
    border-radius: 10px;
    border: 2px solid $border-color;
    float: left;
}

// Contenitori principali
.HTML,
.Photoshop,
.CSS {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

/*Media query esterna. volevo fare una prova per capirne bene come si impostavano i div*/
@media screen and (max-width: 500px) {

    .HTML,
    .Photoshop,
    .CSS {
        flex-direction: column;
        margin: 0 20px;
    }

}

// p
p.name {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 20px;
}

// button
a.apri {
    background-color: #94d9c0;
    border-radius: 15px;
    border: solid;
    color: #238b65;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.5s;

    &:hover {
        box-shadow: 0 12px 16px rgba(0, 0, 0, 0.24),
            0 17px 50px rgba(0, 0, 0, 0.19);
    }
}

// Immagini
#image-1,
#image-2,
#image-3,
#image-4,
#imagec1,
#imagec2,
#imagec3,
#imagec4,
#imagep1,
#imagep2,
#imagep3,
#imagep4 {
    width: 80%;
    height: auto;
    margin: 8px 5px;
}

// Card HTML
#HTML1,
#HTML2,
#HTML3,
#HTML4 {
    @include card-style($color-html, $border-html);
}

// Card CSS
#CSS1,
#CSS2,
#CSS3,
#CSS4 {
    @include card-style($color-css, $border-css);
}

// Card Photoshop
#PS1,
#PS2,
#PS3,
#PS4 {
    @include card-style($color-ps, $border-ps);
}